header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header nav a {
  margin: 0 1rem;
}

/* Style des filtres de la grille horraire */
#jours {
  padding: 1rem;
}
#jours ul {
  display: flex;
  justify-content: space-between;
}

#jours ul li.active,
#jours ul li {
  cursor: pointer;
  color: black;
}

#jours ul {
  display: flex;
  justify-content: space-between;
}

.filter {
  color: white;
}

table#prog {
  color: white;
}

table#prog td,
table#prog th {
  padding: 1em;
  text-align: left;
}

table#prog td {
  border-top: 1px solid #f0f;

  border-bottom: 1px solid #f0f;
}

/* Restyle timetable.js */
.timetable > aside::before {
  background-color: black;
  height: 110px;
}

.timetable > section > header {
  background-color: black;
  color: white;
}

.timetable > aside li {
  background-color: black;
}

.timetable ul.room-timeline li {
  background-color: black;
}
